body .MuiStepLabel-label {
    font-size: 17px;
    color: #c5b7da;
    font-weight: bold;
}
body .MuiStepLabel-label.MuiStepLabel-active {
    color: #795bb5; 
}
body .MuiStepLabel-label.MuiStepLabel-completed {
    color: #795bb5; 
}
body .MuiButton-root.Mui-disabled {
    background-color: #c5b6dd;
    color: #fff;
    margin-right: 10px
}
body .MuiStepIcon-root {
    color: #c5b7da;
}
body .MuiStepIcon-root.MuiStepIcon-active {
    color: #795bb5;
}
body .MuiButton-root {
    background-color: #795bb5; 
    color: #fff
}
body .MuiButton-root:hover {
    background-color: #303f9f; 
    color: #fff
}